
<div class="container">
    <ul class="nav nav-tabs"></ul>
    <div class="page">
    </div>
</div>

<script src="~/js/LoanForm/Navigation.js"></script>
<script src="~/js/LoanForm/General.js"></script>
<script src="~/js/LoanForm/navigation/DeptModel.js"></script>
<script src="~/js/LoanForm/navigation/AdressModel.js"></script>
<script src="~/js/LoanForm/navigation/NewGeneral.js"></script>
<script src="~/js/LoanForm/navigation/PersonModel.js"></script>
<script src="~/js/LoanForm/navigation/CourtModel.js"></script>
<script src="~/js/LoanForm/navigation/EmployerModel.js"></script>
<script src="~/js/LoanForm/navigation/CityHallModel.js"></script>
<script src="~/js/LoanForm/navigation/CompanyModel.js"></script>
<script src="~/js/LoanForm/navigation/ContractModel.js"></script>
<script src="~/js/LoanForm/Form.js"></script>
